.footer
    padding-bottom: 40px
    &__high
        display: flex
        align-items: flex-end
        @include xs
            flex-direction: column
            align-items: flex-start
    &__logo
        margin-right: 60px
        flex: 0 0 146px
        @include xs
            flex: 0 1 auto
            width: 146px
            margin-right: 0
            margin-bottom: 70px
    &__low
        display: grid
        grid-template-columns: repeat(2, 300px)
        gap: 110px
        justify-content: flex-end
        @include sm
            gap: 70px
        @include xs
            grid-template-columns: 444px
    &__column
        display: flex
        flex-direction: column
        align-items: flex-start

    &__adress,
    &__phone,
    &__email
        margin-bottom: 10px
    &__time
        margin-bottom: 60px
        @include xs
            margin-bottom: 40px
