.preview
    height: 480px
    &__bg
        width: 100%
        height: 100%
        object-fit: cover

.promo
    margin-top: -90px
    &__wrap
        display: flex
        align-items: stretch
        justify-content: flex-end
    &__info
        margin-right: 25px
        flex: 0 0 380px
    &__img
        flex: 0 0 482px
        img
            height: 100%
            object-fit: cover

